# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
.env

# Model artifacts
*.pkl

# Data files
data/raw/*
data/processed/*
data/db.sqlite
data/backup

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Editor / IDE
.DS_Store
.idea/
.vscode/

# Logs
*.log